*{
    box-sizing: border-box;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    padding-top: 20px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-left: 32px;
    display: flex;
    align-items: center;
}
.menu-button {
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    padding: 0px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 28px;
    cursor: pointer;
}

.menu-line {
    width: 20px;
    height: 3px;
    display: block;
    background-color:#1F2022;
    border-radius: 20px;
}

.input-group{
    background: #EBEBEB;
    border-radius: 22px;
    margin-left: 59px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 50%;
    padding-right: 17px;
    max-width: 50px;
    min-width: 830px;
}

.type-search {
    background-color:transparent;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 33px;
    
}

.button-search{
    width: 19px;
    height: 19px;
    border:none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.icon-search{
    fill: black;
    width: 19px;
    height: 19px;
}

.icons{
    margin-left: auto;
    display: flex;
    align-items:center;
}

.icons-linc{
    text-decoration: none;
    opacity:0.24;
}

.icons-linc:hover{
    opacity:0.8;
}

.icons-linc:not(:last-child) {
    margin-right: 50px;
}

.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 45px;
}

    
